<!DOCTYPE html>
<html>
{# https://i.pinimg.com/originals/28/1b/e9/281be91e2a8e88e6c22e699b947b91f4.png палитра #}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Кто я{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {# {{ encore_entry_script_tags('app') }} #}
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="header">
        <h2>
            Бельмесова Марина
        </h2>
        <h3>
            Веб-программистка
        </h3>
        <img src="{{ asset('/images/photo.jpg') }}" alt="Logo">
    </div>
    <div class="chapters">
    {% for chapter in chapters %}
        <div class="chapter">
            <h4>
                {{ chapter.header }}
            </h4>
            <p>
                {{ chapter.text }}
            </p>
        </div>
    {% endfor %}
        <div class="feedback">
            <h3>Свяжитесь со мной</h3>
            {{ form(feedback) }}
        </div>
    </div>
{% endblock %}
</body>
</html>
